body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

.card{
    align-items: center;
    text-align: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-images img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto 20px; /* Centraliza a imagem */
}

.product-info {
    text-align: center;
}

.product-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-info p.price {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 10px;
}

.product-info ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.product-info ul li {
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
